.biography-artyom__container {
  max-width: 1296px;
  margin: 0 auto;
}

.main-title__container {
  /*display: flex;*/
}

.biography-artyom {
  padding-top: 100px;
}

/*.biography-title {*/
/*  padding-left: 30px;*/
/*}*/

.biography-main-artyom {
  padding-top: 70px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.biography-button {
  background-color: black;
  border: 1px solid white;
  border-radius: 50px;
  width: 135px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.biography-button__container {
  padding-top: 30px;
  display: grid;
  justify-content: center;
}

.contact__biography-artyom  {
  display: grid;
  max-width: 300px;
  margin: 0 auto;
}

.contact__biography-artyom ul {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  gap: 20px;
}

@media only screen and (max-width: 1210px) {
  .burger {
    display: grid;
  }

  .logo {
    display: grid;
  }

  .nav_container {
    display: none;
  }

  .logo__container-biography {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .biography-title {
    display: grid;
    align-items: center;
  }

  .main-title__container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 510px) {
  .photo-artyom {
    margin: auto;
  }

  .biography-main-artyom {
    display: grid;
  }
}
