.go_to_office__border-1 {
  width: 1000px;
  height: 500px;
  color: white;
  border: 1px solid;
  border-radius: 8px;
}

.go_to_office__container {
  display: grid;
  justify-content: center;
  padding-top: 40px;
}

.logo__img {
  margin: auto;
  padding: 30px 0;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.go-to-office-registration {
  gap: 30px;
}

.go-to-office-registration input {
  width: 250px;
  height: 30px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50px;
  color: white;
  outline: none;
  padding: 0 20px;
}

.go-to-office-registration label {
  display: block;
  font-size: small;
}

.data_filling {
  display: grid;
  gap: 10px;
  padding-top: 20px;
  justify-content: center;
}

.filling__link {
  display: grid;
  padding-top: 10px;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.biography-button__container {
  padding-top: 30px;
  display: grid;
  justify-content: center;
}

.biography-button {
  background-color: black;
  border: 1px solid white;
  border-radius: 50px;
  width: 135px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

@media only screen and (max-width: 1210px) {
  .page_go-to-office .burger {
    display: none;
  }

  .page_go-to-office .logo {
    display: none;
  }

  .page_go-to-office .nav_container {
    display: flex;
  }
}

@media only screen and (max-width: 1030px) {
  .go_to_office__border-1 {
    width: 820px;
  }
}

@media only screen and (max-width: 845px) {
  .go_to_office__border-1 {
    width: 715px;
    height: 530px;
  }
}

@media only screen and (max-width: 820px) {
  .page_go-to-office .burger {
    display: grid;
  }

  .page_go-to-office .logo {
    display: block;
  }

  .page_go-to-office .nav_container {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  .go_to_office__border-1 {
    width: 570px;
    height: 530px;
  }
}

@media only screen and (max-width: 595px) {
  .go_to_office__border-1 {
    width: 475px;
    height: 560px;
  }
}

@media only screen and (max-width: 490px) {
  .go_to_office__border-1 {
    width: 400px;
    height: 590px;
  }
}

@media only screen and (max-width: 410px) {
  .go_to_office__border-1 {
    width: 320px;
    height: 650px;
  }
}

@media only screen and (max-width: 335px) {
  .go_to_office__border-1 {
    width: 280px;
    height: 650px;
  }
}
