.successfully-booked-course-title__container {
  display: flex;
}

.successfully-booked-course__border {
  max-width: 700px;
  border: 1px solid;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: grid;
  margin: auto;
  padding: 10px;
}

.congratulation_title {
  align-items: center;
  display: grid;
  padding-left: 10px;
}

.successfully-booked-course__title {
  padding: 20px;
}

.successfully-booked-course-main-information {
  padding-top: 5px;
}

.successfully-booked-course-title__container {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1210px) {
  .burger {
    display: grid;
  }

  .logo {
    display: grid;
  }

  .nav_container {
    display: none;
  }

  .logo_title {
    display: none;
  }

  .congratulation_title {
    margin: auto;
    padding-left: 0;
    text-align: center;
  }

  .successfully-booked-course-main-information {
    text-align: center;
  }
}
