.top-brands__container {
  max-width: 1296px;
  margin: 0 auto;
  padding-top: 95px;
}

.top-brands__container ul {
  display: flex;
  flex-wrap: wrap;
}

.top-brands__container li {
  width: 25%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.top-brands__container li img {
  max-width: 110px;
  max-height: 70px;
}

.top-brands__container li:nth-child(1),
.top-brands__container li:nth-child(2),
.top-brands__container li:nth-child(3) {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(255,255,255,0.3);
}

.top-brands__container li:nth-child(4) {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.top-brands__container li:nth-child(5),
.top-brands__container li:nth-child(6),
.top-brands__container li:nth-child(7) {
  border-right: 1px solid rgba(255,255,255,0.3);
}

.top-brands__container__title {
  display: flex;
  max-width: 1296px;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
}

.top-brands__text__container {
  display: grid;
  align-items: center;
}

.top-brands.initialized .top-brands__img {
  transform: rotate(360deg);
  transition: 1s ease;
}

@media only screen and (max-width: 620px) {
  .top-brands__container li {
    width: 50%;
  }

  .top-brands__container li:nth-child(1),
  .top-brands__container li:nth-child(3),
  .top-brands__container li:nth-child(5) {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
  }

  .top-brands__container li:nth-child(2),
  .top-brands__container li:nth-child(4),
  .top-brands__container li:nth-child(6) {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: none;
  }
}
