.button {
  white-space: nowrap;
}

.no-fixed {
  position: static;
  padding: 40px 20px;
}

@media only screen and (max-width: 620px) {
  .semicircle {
    width: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .semicircle {
    width: 40px;
    min-width: 40px;
  }
}
