.get-a-profession {
  text-align: center;
}

.get-a-profession__container {
  display: grid;
  justify-content: center;
}

.bottom__header_pc span {
  display: grid;
  justify-content: center;
}

.widget_container {
  max-width: 1296px;
  display: flex;
  padding-top: 120px;
  gap: 50px;
}

.bottom__header_flash span {
  display: grid;
  justify-content: center;
}

.widget__downtext {
  opacity: 0.4;
  padding-top: 30px;
}

.widget__downtext {
  opacity: 0.4;
  padding-top: 30px;
}

.widget__cable__container__img img {
  padding-bottom: 60px;
  margin: auto;
}

.widget-flash__container-img img {
  padding-bottom: 60px;
  margin: auto;
}

.widget-pc__container-img img {
  padding-bottom: 60px;
  margin: auto;
}
