.header {
  background: url("../assets/img/main-screen__bgc.png") no-repeat top center;
  height: 960px;
  padding: 40px 20px;
  max-width: 1760px;
  margin: 0 auto;
  display: grid;
  align-content: space-between;
}

.header_container {
  display :flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  text-decoration: none;
  color: white;
}

.nav_container {
  display: flex;
  gap: 158px;
  font-size: 16px;
  align-items: center;
}

.nav_container button {
  border: none;
  border-radius: 50px;
  background: linear-gradient(95deg, #C89AFC 9%, #7C6AFA 90%);
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.nav_container ul {
  display: flex;
  gap: 56px;
}

.main_container_header {
  max-width: 1296px;
  margin: 0 auto;
  width: 100%;
}


.header_text {
  font-size: 64px;
}

.timer_list li {
  width:100px;
  height: 110px;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
}

.timer_list {
  display: flex;
  gap: 50px;
  padding: 80px 0;
}

.timer_list .unit {
  opacity: 0.4;
  font-size: 16px;
}

.well {
  background-color: #121212;
  margin: -40px -20px;
}

.well_container {
  max-width: 1296px;
  margin: 0 auto;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 80px;
}

.well button {
  border: none;
  border-radius: 50px;
  color: white;
  background:  linear-gradient(95deg, #DF5950 11%, #451046 94%);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  padding: 10px 30px;
}

.button_container {
  display: flex;
  align-items: center;
  flex: 1;
}

.pupils {
  flex: 1;
  gap: 10px;
  display: grid;
}

.scale,
.cost_pupils,
.pupils > div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cost_pupils {
  justify-content: flex-start;
}

.cost {
  flex: 3;
  gap: 6px;
  display: grid;
}

.scale,
.cost_pupils .text,
.pupils .text {
  opacity: 0.4;
}

.line {
  background: white;
  height: 6px;
}

.line_filling {
  height: inherit;
  width: 40%;
  background: linear-gradient(95deg, #DF5950 11%, #451046 94%);
}
