body {
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
}

ul {
  list-style: none;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
}

section {
  margin-bottom: 200px;
}
