html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
  line-height: 160%;
  padding: 0 20px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 64px;
  line-height: 140%;
  max-width: 890px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
}

h3 {
  font-size: 24px;
}

footer,
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

button {
  cursor: pointer;
}
