.get-a-profession {
  text-align: center;
}

.get-a-profession__container {
  display: grid;
  justify-content: center;
}

.get-a-profession__container p {

}

.bottom__header_pc span {
  display: grid;
  justify-content: center;
}

.widget_container {
  max-width: 1296px;
  display: flex;
  padding-top: 120px;
  gap: 50px;
  flex-wrap: wrap;
}

.widget_container > div {
  flex: 1;
}

.bottom__header_flash span {
  display: grid;
  justify-content: center;
}

.widget__downtext {
  opacity: 0.4;
  padding-top: 30px;
  max-width: 330px;
  margin: auto;
}

.widget__downtext {
  opacity: 0.4;
  padding-top: 30px;
}

.widget__cable__container__img img {
  padding-bottom: 60px;
  margin: auto;
}

/*.widget__cable__container p {*/
/*  width: 300px;*/
/*}*/

.widget-flash__container-img img {
  padding-bottom: 60px;
  margin: auto;
}

/*.widget-flash__container p {*/
/*  width: 400px;*/
/*}*/

.widget-pc__container-img img {
  padding-bottom: 60px;
  margin: auto;
}

.widget__downtext {
  width: 330px;
}

@media only screen and (max-width: 382px) {
  .widget__downtext {
    width: 320px;
  }
}
