.header {
  background: url("../assets/img/main-screen__bgc.png") no-repeat top center;
  min-height: 960px;
  padding: 100px 20px 40px;
  max-width: 1760px;
  margin: 0 -20px;
  display: grid;
  align-content: space-between;
}

.button {
  white-space: nowrap;
}

.header h1 {
  opacity: 0;
  transform: translateY(75px);
  transition: transform 1s ease;
}

.header.initialized h1 {
  opacity: 1;
  transform: translateY(0);
}

.header nav li {
  opacity: 0;
  transform: translateY(25px);
  transition: all 1s ease;
}

.header.initialized nav li:nth-child(1) {
  opacity: 1;
  transform: translateY(0);
}

.header.initialized nav li:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.header.initialized nav li:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.header.initialized nav li:nth-child(4) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.header.initialized nav li:nth-child(5) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}

.header.initialized nav li:nth-child(6) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}

.header_container {
  display :flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 20px * 2);
  top: 40px;
  left: 20px;
  right: 20px;
  z-index: 1;
}

.no-fixed {
  position: static;
  padding: 40px 20px;
}

.well .text {
  white-space: nowrap;
}

.bottom {
  text-decoration: none;
  color: white;
}

.nav_container {
  display: flex;
  gap: 158px;
  font-size: 16px;
  align-items: center;
}

.nav_container button {
  border: none;
  border-radius: 50px;
  background: linear-gradient(95deg, #C89AFC 9%, #7C6AFA 90%);
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.nav_container button:hover {
  background:  linear-gradient(95deg, #DF5950 11%, #451046 94%);
}

.nav_container ul {
  display: flex;
  gap: 56px;
}

.main_container_header {
  max-width: 1296px;
  margin: 0 auto;
  width: 100%;
}

.timer_list li {
  width:100px;
  height: 110px;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
}

.timer_list {
  display: flex;
  gap: 50px;
  padding-top: 80px;
}

.timer_list .unit {
  margin-top: 15px;
  opacity: 0.4;
  font-size: 16px;
}

.well {
  background-color: #121212;
  margin: -40px -20px;
  padding: 20px;
}

.well_container {
  max-width: 1296px;
  margin: 0 auto;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 80px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.well button {
  border: none;
  border-radius: 50px;
  color: white;
  background:  linear-gradient(95deg, #DF5950 11%, #451046 94%);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  padding: 10px 30px;
}

.well button:hover {
  background: linear-gradient(95deg, #C89AFC 9%, #7C6AFA 90%);
}

.button_container {
  display: flex;
  align-items: center;
  flex: 1;
}

.pupils {
  flex: 1;
  gap: 10px;
  display: grid;
}

.scale,
.cost_pupils,
.pupils > div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cost_pupils {
  justify-content: flex-start;
}

.cost {
  flex: 3;
  gap: 6px;
  display: grid;
}

.scale,
.cost_pupils .text,
.pupils .text {
  opacity: 0.4;
}

.line {
  background: white;
  height: 6px;
}

.line_filling {
  height: inherit;
  width: 0;
  background: linear-gradient(95deg, #DF5950 11%, #451046 94%);
}

.well.initialized .line_filling {
  width: 68%;
  transition: 1s linear;
}

.burger {
  cursor: pointer;
  display: none;
  gap: 4px;
}

.burger span {
  background: linear-gradient(95deg, #DF5950 11%, #451046 94%);
  display: block;
  height: 4px;
  width: 30px;
}

@media only screen and (max-width: 1180px) {
  .burger {
    display: grid;
  }

  .nav_container {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .button_container,
  .pupils,
  .cost {
    flex: none;
  }

  .cost {
    width: 100%;
  }

  .well_container {
    justify-content: left;
  }
}

@media only screen and (max-width: 620px) {
  h1 {
    font-size: 45px;
    line-height: 120%;
    text-align: center;
  }

  .timer_list {
    gap: 10px;
    justify-content: center;
  }

  .timer_list li {
    width: 80px;
    height: 90px;
    font-size: 26px;
  }

  .timer_list .unit {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 33px;
    line-height: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .timer_list .unit {
    margin-top: 5px;
    font-size: 12px;
  }

  .timer_list li {
    width: 64px;
    height: 73px;
  }
}
