* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
}

li {
  list-style: none;
}

.header {
  background: url("../assets/img/main-screen__bgc.png") no-repeat top center;
  height: 960px;
  padding: 40px 20px;
  max-width: 1760px;
  margin: 0 auto;
}

.header_container {
  display :flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  text-decoration: none;
  color: white;
}

.nav_container {
  display: flex;
  gap: 158px;
  font-size: 16px;
  align-items: center;
}

.nav_container button {
  border: none;
  border-radius: 50px;
  background: linear-gradient(95deg, #C89AFC 9%, #7C6AFA 90%);
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.nav_container ul {
  display: flex;
  gap: 56px;
}
.header_text {
  font-size: 64px;
  padding: 198px 188px 0;
}

.timer {
  width:100px;
  height: 110px;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
}

.timer_list {
  display: flex;
  gap: 50px;
  padding: 80px 188px;
}

.timer_list span {
  opacity: 0.4;
  font-size: 16px;
}

.well {
  background-color: #121212;

}



